.kaka {
    position: sticky;
    top: auto;
    left: 0;
}
.closeButton{
    font-size:25px;
    position:absolute;
    top:-35px;
    right:-35px;
}
.custom_ant_modal_test {
    background-color: green !important;
    padding: 0 !important;

    & > .ant-modal-content {
        background-color: green !important;
    }

    

    

    .ant-modal-close {
        display: none !important;

        span {
            display: none !important;
        }

     
    }
}

.st_left_side_box {
    position: sticky;
    top: auto;
    left: 0;



    .st_active_item {
        background-color: #eceff4;
    }

    & > div:hover {
        background-color: #eceff4;
        cursor: pointer;
    }

    & > div:last-child {
        color: grey;

        & > div:nth-child(1) {
            span {
                display: block;
                border-radius: 50%;
                width: 50px;
                height: 5px;
                border: 3px solid #005ed0;
                position: relative;

                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: #005ed0;
                    font-size: 18px;
                }
            }
        }

        h5 {
            color: #74788d;
        }
    }
}

.subject_test_page {
}

.subject_test_items {
    position: relative;
    &:hover {
        cursor: pointer;
        background-color: #fafafa !important;
    }

    .not_allowed_hover_block {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: white, $alpha: 0.8);
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            cursor: not-allowed;
        }

        i {
            font-size: 40px;
            color: grey;
        }
    }
}

.complete_test_page {
    min-height: 70vh;

    .test_header {
        display: flex;
    }

    .test_variants_item {
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;

        &:hover {
            background-color: #f5f5f5;
        }
    }

    .test_img_box {
        max-width: 100%;
        max-width: 400px;
        border-radius: 6px;
        margin-top: 20px;

        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            border-radius: 6px;
        }
    }

    .st_right_side {
        min-height: 80vh;
    }

    .test_item_btn_selected {
        background-color: #005ed0 !important;
        color: white !important;
        border: none !important;
        opacity: 0.6 !important;
    }

    .test_item_btns {
        width: 48px;
        height: 8px;
        border: none;
        border-radius: 16px;
        
        &:focus {
            outline: none;
        }
    }

    .next_prev_btn_box {
        display: flex;
        justify-content: space-between;

        & > a {
            display: block;
            color: #005ed0 !important;
            font-weight: 500;
            i {
                font-size: 20px;
                margin-bottom: 2px;
            }
        }
    }

    .question_style {
        font-size: 17px;
        font-weight: 400;
        font-family: "San-serif";
    }
}

.ssas {
    background-color: #005ed0;
}

.test_result_page {
    .result_test_item {
        cursor: pointer;
    }

    .test_header {
        display: flex;
        align-items: center;
    }

    .test_variants_item {
        cursor: pointer;
        font-family: Arial, Helvetica, sans-serif;
        box-shadow: "2px 2px 4px rgba(0, 0, 0, 0.2)";

        &:hover {
            background-color: #f5f5f5;
        }
    }

    .test_item_btns {
        width: 48px;
        height: 8px;
        border: none;
        border-radius: 16px;

        &:focus {
            outline: none;
        }
    }

    .next_prev_btn_box {
        display: flex;
        justify-content: space-between;

        & > a {
            display: block;
            color: #005ed0 !important;
            font-weight: 500;
            i {
                font-size: 20px;
                margin-bottom: 2px;
            }
        }
    }

    .question_style {
        font-size: 17px;
        font-weight: 400;
        font-family: "San-serif";
    }

    .test_img_box {
        max-width: 100%;
        max-width: 400px;
        border-radius: 6px;
        margin-top: 20px;

        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            border-radius: 6px;
        }
    }

    .current_index_ui_correct {
        background-color: #27ae60 !important;
    }
    .current_index_ui_incorrect {
        background-color: #eb5757 !important;
    }

    .correct_full_answers_box {
        p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px !important;
            text-align: justify;
        }

        video {
            width: auto;
            height: auto;
            max-width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 768px) {
    .complete_test_page {
        min-height: 70vh;

        .test_header {
            display: block !important;
        }

        .test_variants_item {
            cursor: pointer;
            font-family: Arial, Helvetica, sans-serif;

            &:hover {
                background-color: #f5f5f5;
            }
        }

        .test_img_box {
            max-width: 600;
            max-width: 400px;

            img {
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
            }
        }

        .st_right_side {
            min-height: 80vh;
        }

        .test_item_btn_selected {
            background-color: #52c41a !important;
            color: white !important;
            border: none !important;
        }

        .question_style {
            font-size: 17px;
            font-weight: 400;
            font-family: "San-serif";
        }
    }

    .test_result_page {
        .test_header {
            display: block !important;
            align-items: center;
        }
    }
}

@media (max-width: 1200px){
    .closeButton{
        font-size:20px !important;
        position:relative !important;
        top:0px !important;
        right:0px !important;
    }
}

