.final_test_div {
  padding: 0 0px;
  min-height: 100vh;
  width: 100%;
  background-color: #111724;
  .time_counter {
    font-size: 18px;
    font-weight: 500;
  }

  .image_box{
    padding-right: 20px;
  }
  .buttons {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #111724 !important;
    color: white !important;
  }
  .answers_box{
    // padding-left: 20px;
  }

    .span_test_number {
      height: 42px;
      width: 42px;
      margin: 0 4px;
      border-radius: 50%;
      cursor: pointer;
      color: #fff;
      box-shadow: 0px 0px 5px rgb(168, 168, 168);
      font-weight: 600;
      font-size: 20px !important;
    }

    .danger_test {
      background: #EB5757;
      opacity: 0.6;
      color: #fff;
    }

    .danger_active_test {
      background: #EB5757 !important;
      color: #fff;
    }

    .success_test {
      background: #27AE60;
      color: #fff;
      opacity: 0.6;
    }

    .success_active_test {
      background: #27AE60 !important;
      color: #fff;
    }

    .active_test {
      background: #ffec3d;
      color:#000;      
      border: 0.1px solid rgb(252, 252, 252);
      font-size: 20px !important;
    }

    a {
      font-size: 16px;
      color: #005ED0;
      margin: 0px 5px;

      i {
        margin: 0 10px;
      }
    }


//  full size image
.fullsizeimg{
  .ant-modal-body{
    padding:0 !important;
  }
}

// Popconfirm
.ant-popover-inner{
  border-radius: 8px !important;
}


// skeleton img 
.ant-skeleton-element{
  width: 100% !important;
  height: 100% !important;   

  .ant-skeleton-image{
    background-color: transparent !important;
    border-radius: 8px !important;
    width: 100% !important;
    height: 100% !important;
  }

  .ant-skeleton-image-svg{
    width: 100% !important;
    height: 100% !important;
  }
} 
  }

  .question {
    p {
      border: 0.1px solid #fff !important;
      border-radius: 8px;
      font-size: 24px;
      background-color: #273043;
      color: #fff;
    }
  }

  .answers {
    .answer {
      width: 100%;
      background-color: #fff;
      border-radius: 8px;
      padding: 15px 20px 15px 20px;          
      cursor: pointer;      
      box-shadow: 0px 0px 5px rgb(168, 168, 168);
      font-weight: 500;


      &:hover {
        box-shadow: 0px 0px 5px rgb(168, 168, 168);
      }

      span {
        font-size: 17px;
      }

      .empty-icon {
        color: #bbbbbb;     
      }
    }

    .selectedAnswer {
      background-color: #ffec3d;
      color: #000;
      width: 100%;
      border: 0.1px solid rgb(252, 252, 252);
      border-radius: 8px;
      padding: 20px;
      margin-bottom: 10px;
      cursor: pointer;
      box-shadow: 0px 0px 5px rgb(168, 168, 168);
      font-weight: 500;


      span {
        font-size: 17px;
      }
    }

    .answer_correct {
      width: 100%;
      border: 0.1px solid #fff;
      background-color: #27AE60;
      box-shadow: 0px 0px 5px rgb(168, 168, 168);
      color: #fff;
      border-radius: 8px;
      padding: 20px;
      margin-bottom: 10px;
      cursor: pointer;


      &:hover {
        box-shadow: 0px 0px 10px rgb(196, 196, 196);
      }

      span {
        font-size: 17px;
      }

      .empty-icon {
        color: #fff;
        // font-size: ;
      }
    }

    .answer_incorrect {
      width: 100%;
      background-color: #EB5757;
      box-shadow: 0px 0px 5px rgb(168, 168, 168);
      color: #fff;
      border: 0.1px solid #fff;
      border-radius: 8px;
      padding: 20px;
      margin-bottom: 10px;
      cursor: pointer;      

      &:hover {
        box-shadow: 0px 0px 10px rgb(196, 196, 196);
      }

      span {
        font-size: 17px;
      }

      .empty-icon {
        color: #fff;      
      }
    }  
  }


.select-test-lang {
  border: 0.1px solid #000;
  border-left: 0;
  border-top-right-radius: 8px;  
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 5px rgb(224, 224, 224);
  padding: 10px;
  text-align: center;  
  cursor: pointer;
  

  &:hover {
    background-color: rgb(245, 245, 245);
  }
}

.image {
  width: 100%;
  border-radius: 5px;
}


.num_test2 {
  display: none;
}

.buttons2 {
  text-align: right;

  a {
    font-size: 16px;
    color: #005ED0;
    margin: 0px 5px;

    i {
      margin: 0 10px;
    }
  }
}

.isCheck {
  pointer-events: none;
}

.isCheck_button {
  pointer-events: none;
  opacity: 0.4;
  color: white !important;
}

@media only screen and (max-width: 1500px) and (min-width: 1200px) {
  .final_test_div {
    padding: 0 100px;
  }
  .image {
    width: 450px !important;
  }
  .BigTimeDiv {
    //right: 100px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 900px) {
  .final_test_div {
    padding: 0 80px;
  }
  .image {
    width: 400px !important;
  }
  .BigTimeDiv {
    //right: 80px;
  }
}

@media only screen and (max-width: 900px) and (min-width: 500px) {
  .final_test_div {
    padding: 0 50px;
  }
  .image {
    width: 350px !important;
  }
  .BigTimeDiv {
    //right: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .final_test_div {
    padding: 0 20px;
  }
  .BigTimeDiv {
    //right: 20px;
  }
}

@media only screen and (max-width: 1080px) {
  .num_test {
    display: none !important;
  }
  .num_test2 {
    display: inline-block;
  }
}

.functional_key {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 4px 7px;
  font-size: 20px;
  color: #ffffff;
  background-color: #495057;
  border-radius: 10px;
  cursor: pointer;
}

.functional_key_small {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #495057;
  border: 0.1px solid #fff;
  border-radius: 8px;
  width: 45px;
  height: 30px;  
  font-size: 14px;
  font-weight: 600 !important;
  color: #ffffff;
  cursor: pointer;  
}

    // RN styles
    .start-button{
      color: #fff;
      background:#2F69FE;
      cursor: pointer;
      border-radius: 8px;
      &:hover{
        background:#437DFF;
        color: white !important;
      }
    }
    
    .ant-modal-content{
      border-radius: 8px !important;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  
    }

    .ant-popover-buttons {  
      text-align: center !important;
      font-weight: 600 !important;
      font-size: 16px !important;
    }