.keyboard-style {
  border: 1px solid #000;
  border-radius: 4px;
  margin: 2px;
  padding: 6px;
  display: inline-block;
  color: black;
  background-color: #f0f0f0;
  font-weight: bold;
}
.small-keyboard-style {
  border-radius: 2px;
  padding: 1px 4px 0 4px;
  margin-left: 2px;
  display: inline-block;
  color: black;
  background-color: #f0f0f0;
  font-weight: bold;
}
.tableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.windowsAdd {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 767px) {
  .tableHeader {
    display: block;
  }
  .tableHeader p {
    text-align: center;
  }
  .windowsAdd {
    margin-top: 20px;
  }
  .windowsAdd button{
    font-size: 10px;
  }
}
