$base:#005ed0;
$color: #f5f5f5;
$color1: #2f54eb;
$color3: #595959;
$bgcolor:#F8F8FB;
$textcolor: #434343;

// registration
.registration-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: $color;

  #registration-form {
    max-width: 480px;
    width: 100%;
    padding: 30px;
    margin: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
    background:white;

    .registration-image {
      text-align: center;

      p {
        color: #bfbfbf;
      }
    }


    .registration-form-button {
      width: 100%;
      height: 36px;
      border-radius: 4px;
      background: $color1;
    }

    .registration-form-back {
                  background: transparent;
      font-weight: 500;
            :hover {
        text-decoration: underline !important;
      }
    }
  }

}

