.scanning {
  position: relative;
  border: 1px solid #b7eb8f;
  border-radius: 4px;
}

.scanning p {
  display: block !important;
  color: #18c89b;
  width: 180px;
  position: absolute;
  bottom: 10px;
  left: 110px;
  font-size: 16px;
  font-weight: 600;
  animation: blinker 1.5s linear infinite;
  font-family: sans-serif;
}

.scanning p::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: red;
  position: relative;
  right: 4px;
}

.scanning::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  right: 20px;
  width: 2px;
  background: rgba(170, 184, 190, 0.8);
  box-shadow: 0 0 70px 20px rgba(170, 184, 190, 0.8);
  clip-path: inset(0);
  animation: x 0.5s ease-in-out infinite alternate, y 1s ease-in-out infinite;
  animation-duration: 1.5s;
  z-index: 10000;
}

@keyframes x {
  to {
    transform: translateX(-100%);
    left: 95%;
  }
}

@keyframes y {
  33% {
    clip-path: inset(0 0 0 -100px);
  }

  50% {
    clip-path: inset(0 0 0 0);
  }

  83% {
    clip-path: inset(0 -100px 0 0);
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Face id setting page */
.face-id-wrapper {
  width: 100vw;
  height: 100vh;
  padding: 30px !important;
}

.face-id {
  width: 100%;
  height: 100% !important;
  position: relative;
  background: #fff;
  box-shadow: 0px 10px 20px rgba(29, 97, 122, 0.15);
  border-radius: 16px;
  padding: 14px;
}

.face-id .computer-order {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.face-id .computer-order .computer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0px 10px 20px rgba(29, 97, 122, 0.15);
  border-radius: 16px;
  width: 200px;
  height: 100px;
}

.face-id .computer-order .computer strong {
  font-size: 20px;
}

.face-id .computer-order .computer h1 {
  margin: 0;
  color: #8c8c8c;
  font-size: 60px;
}

.face-id .upload-key {
  box-shadow: 0px 10px 20px rgba(29, 97, 122, 0.15);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: 50%;
  padding: 30px;
}

/* web camera */
.web-camera {
  display: flex;
  justify-content: center;
  align-items: center;
}

.web-camera .camera-frame {
  width: 400px;
  height: 400px;
}

.web-camera .camera-info {
  padding: 14px;
}

.button-check-face {
  text-align: center;
  display: flex;
  justify-content: center;
}

/* media query */
@media screen and (min-width: 768px) and (max-width: 1540px) {
  /* Face id setting page */
  .face-id-wrapper {
    padding: 10px !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  /* Face id setting page */
  .face-id-wrapper {
    padding: 0 !important;
  }

  .face-id {
    box-shadow: none !important;
    border-radius: 0 !important;
    padding: 14px;
  }
}
