.main_link_sidebar {
    background-color: #005ED0;
    border-bottom: 1px solid #2172d4;
    font-weight: 400;
    padding: 6px 20px 6px 20px;
    font-size: 16px;
    color: white;
    margin: 6px 0;
    cursor: pointer;
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    
    &:hover{
        background-color: #488BDD;
        color: white;
    }

    i {
      font-size: 12px;
      transition:  0.3s;
    }
    
}


.dropdown_menus_sidebar_box_close{
    height: 0% !important;
}

.panel-group {
    margin-top: 30px;
  }
  
  
  .panel-collapse {
    max-height: 700px;
    overflow: hidden;
    transition: max-height .3s ease;
  }
  .panel-close {
    max-height: 0;
    transition: max-height .3s ease;
  }

  .ff {
      background-color: black !important;
  }