.input-label {
  min-width: 200px;
  margin-bottom: 24px;
  margin-right: 16px;
  font-size: 14px;
  font-weight: normal;
}

.input-row {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  width: 100%;

  @media (max-width: 768px) {
    display: block;
  }
}
